<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70f470">  <td>20/04/01 21:26:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;beforeClass.init()[pri:0, instance:StudentGet.get@4a668b6e]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>20/04/01 21:26:12</td>   <td>685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get.getFirstStudentResponse()[pri:0, instance:StudentGet.get@4a668b6e]">getFirstStudentResponse</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>20/04/01 21:26:13</td>   <td>1648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get.getStudentInformation()[pri:0, instance:StudentGet.get@4a668b6e]">getStudentInformation</td> 
  <td>main@2125062626</td>   <td></td> </tr>
</table>
